*{
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid #eee;
}



.top-bar p {
    font-size: 0.9rem;
    
    cursor: pointer;
}

.consument{
    color: var(--textcolor-third);
}

.zakelijk{
    color: var(--primary-color);
}

.top-bar img {
    position: relative;
    left: 11rem;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;  
    padding: 1rem; 
}

.arrowdown{
    position: relative;
    left: 3rem;
}

.nav-bar p {
    position: relative;
    left: 7rem;
     color: var(--primary-color);
}


.hero-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.hero-section h1{
    color: var(--secondary-color);
}

.hero-image {
    position: relative;
    width: 320px;
    max-width: 100%;
}

.lineimg {
    position: absolute;
    right: 3.4em;
    bottom: 2em;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
    transform: rotate(60deg);
}
 


.timeimg {
    position: relative;
    left: 4rem;
    width: 50%;
    z-index: 2;
}


.order-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order-list p{
    color: var(--primary-textcolor);
}




form{
    display: grid;
    grid-template-columns: 1fr;
}


.voorkeuren{   
    background-color: var(--color-voorkeuren);
}
.link-border-voorkeuren{
    background-color: var(--color-voorkeuren-link);
}

.wereldwijd{
    background-color: var(--color-trace);
}

.link-border-wereldwijd{
    background-color: var(--primary-color);
}

.postzegel{
background-color: var(--secondary-color);
}

.link-border-postzegel{
    background-color: var(--color-postzegel-link);
}

.pakketje h3{
    color: var(--secondary-textcolor);
}


