@layer styleguide {


@font-face {
    font-family: "abc-rom-bold";
    src: url(/fonts/ABCROM-Heavy-Trial.otf) format("opentype");
}
 
@font-face {
    font-family: "abc-rom-regular";
    src: url(/fonts/ABCROM-Regular-Trial.otf) format("opentype");
}




 :root {
    /* kleuren */
    --background-color: #FFFFFF;
    --background-color-secondary: #F6F5F5;
    --primary-color: #4E4EE2;
    --secondary-color: #001A73;
    --formcolor-bar:#E7E8EB;
    --primary-textcolor:#A1A1EF;
    --secondary-textcolor: #E75204;
    --footercolor: #F1F1F2;
    --color-voorkeuren: #D83D00;
    --color-voorkeuren-link:#C23400;
    --color-trace:#6161FF;
    --color-postzegel-link: #001252;

 

     /* headings*/
    --h1-size: 46px;
    --headingS: 18px;
    --headingxl: 32px;
    --headingL: 25px;
    --headingM: 21px;


     


 }
 
body {
    --font-family-bold: 'abc-rom-bold', sans-serif;
    --font-family-regular: 'abc-rom-regular', sans-serif;
}
 
p {
    font-family: var(--font-family-regular);
    font-size: 1.125em;
    line-height: 120%;
}

/* button */
    .button1{
    color: white;
    font-weight: bold;
    background-color: #6161FF;
    border-radius: 5px;
    border: solid #6161FF 10px ;
}

.button2{
    color: white;
    font-weight: bold;
    background-color: #6161FF;
    border-radius: 5px;
    border: solid #6161FF 10px ;
    width: 250px;
}

.button3{
    color: #4E4EE2;
    font-weight: bold;
    background-color: white;
    border-radius: 2px;
    border: solid #4E4EE2 2px ;
    width: 250px;
}

/* formelementen*/
     
.input1{
    border: solid lightgrey 2px;
    border-radius: 2px;
    width: 300px;
    height: 27px;
}

.input2{
    border: solid lightgrey 2px;
    border-radius: 2px;
    width: 150px;
    height: 27px;
}


}